body {
  font-family: sans-serif;
}

h1 {
  font-size: 3em;
}

.image-container {
  align-items: center;
}

button {
  background-color: #af4c4c; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 94%;
  height: 10%;

  font-size: 5em;

  position: fixed;
  bottom: 10px;
  left: 3%;
}

img {
  width: 100%;
  max-height: 50%;
  margin: auto;
}
